.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

#header {
  background-color: #fff;
  border: none; }

nav .container {
  height: 72px; }
  nav .container .navbar-header {
    margin: 0px 0 0 0; }
    nav .container .navbar-header button {
      margin-top: 30px; }
  nav .container #navbar-collapse {
    margin-top: 30px;
    z-index: 1000; }
    nav .container #navbar-collapse ul li {
      padding: 5px 0;
      height: 40px;
      line-height: 40px; }
    nav .container #navbar-collapse ul .a {
      margin: 0 15px;
      text-align: center; }
      nav .container #navbar-collapse ul .a a {
        padding: 0;
        width: 70px;
        line-height: 40px; }
        nav .container #navbar-collapse ul .a a:hover {
          display: block;
          color: #fff;
          background: #4ab5ff;
          border-radius: 4px; }
    nav .container #navbar-collapse ul #nv1 {
      position: relative; }
      nav .container #navbar-collapse ul #nv1 #menu1 {
        position: absolute;
        left: -13px;
        top: 62px;
        z-index: 300;
        display: none; }
        nav .container #navbar-collapse ul #nv1 #menu1 li {
          background: #4ab5ff;
          border-bottom: 1px solid #81cbff;
          height: 40px;
          padding: 0; }
          nav .container #navbar-collapse ul #nv1 #menu1 li a {
            display: block;
            width: 100px;
            color: #fff;
            text-decoration: none;
            line-height: 40px; }
            nav .container #navbar-collapse ul #nv1 #menu1 li a:hover {
              color: #666; }
    nav .container #navbar-collapse ul #nv2 {
      position: relative; }
      nav .container #navbar-collapse ul #nv2 #menu2 {
        position: absolute;
        left: -13px;
        top: 62px;
        color: #fff;
        width: 96px;
        z-index: 300;
        display: none; }
        nav .container #navbar-collapse ul #nv2 #menu2 li {
          background: #4ab5ff;
          height: 40px;
          padding: 0; }
          nav .container #navbar-collapse ul #nv2 #menu2 li a {
            display: block;
            width: 100px;
            color: #fff;
            text-decoration: none;
            line-height: 40px; }
            nav .container #navbar-collapse ul #nv2 #menu2 li a:hover {
              color: #666; }
    nav .container #navbar-collapse ul #nv3 {
      position: relative; }
      nav .container #navbar-collapse ul #nv3 #menu3 {
        position: absolute;
        left: -13px;
        top: 62px;
        z-index: 300;
        display: none; }
        nav .container #navbar-collapse ul #nv3 #menu3 li {
          background: #4ab5ff;
          border-bottom: 1px solid #81cbff;
          height: 40px;
          padding: 0; }
          nav .container #navbar-collapse ul #nv3 #menu3 li a {
            display: block;
            width: 100px;
            color: #fff;
            text-decoration: none;
            line-height: 40px; }
            nav .container #navbar-collapse ul #nv3 #menu3 li a:hover {
              color: #666; }
    nav .container #navbar-collapse ul #nv4 {
      position: relative; }
      nav .container #navbar-collapse ul #nv4 #menu4 {
        position: absolute;
        left: -13px;
        top: 62px;
        z-index: 300;
        display: none; }
        nav .container #navbar-collapse ul #nv4 #menu4 li {
          background: #4ab5ff;
          border-bottom: 1px solid #81cbff;
          height: 40px;
          padding: 0; }
          nav .container #navbar-collapse ul #nv4 #menu4 li a {
            display: block;
            width: 100px;
            color: #fff;
            text-decoration: none;
            line-height: 40px; }
            nav .container #navbar-collapse ul #nv4 #menu4 li a:hover {
              color: #666; }
    nav .container #navbar-collapse ul #nv5 {
      position: relative; }
      nav .container #navbar-collapse ul #nv5 #menu5 {
        position: absolute;
        left: -13px;
        top: 62px;
        z-index: 300;
        display: none; }
        nav .container #navbar-collapse ul #nv5 #menu5 li {
          background: #4ab5ff;
          border-bottom: 1px solid #81cbff;
          height: 40px;
          padding: 0; }
          nav .container #navbar-collapse ul #nv5 #menu5 li a {
            display: block;
            width: 100px;
            color: #fff;
            text-decoration: none;
            line-height: 40px; }
            nav .container #navbar-collapse ul #nv5 #menu5 li a:hover {
              color: #666; }

.a {
  position: relative;
  height: 400px; }
  .a #myCarousel .carousel-control {
    font-size: 30px; }

#cont h2 {
  padding-top: 40px;
  color: #39aeff; }
#cont p {
  line-height: 30px; }
#cont a {
  display: block;
  width: 100px;
  height: 30px;
  background: #39aeff;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px; }
#cont .tab1 {
  background: #def2ff;
  padding: 30px 0 20px 0; }
  #cont .tab1 .container .txt {
    padding: 0 80px; }
#cont .tab2 {
  background: #c0e2f9;
  padding: 30px 0 20px 0; }
  #cont .tab2 .container .txt {
    padding: 0 80px; }
#cont .tab3 {
  background: #def2ff; }
  #cont .tab3 .container .txt {
    padding: 0 20px; }
    #cont .tab3 .container .txt h2 {
      padding-top: 0px; }
    #cont .tab3 .container .txt p {
      text-indent: 2em; }
    #cont .tab3 .container .txt a {
      margin-bottom: 20px; }

#footer .business {
  position: relative; }
  #footer .business p {
    margin: 40px 0 50px; }
  #footer .business ul {
    overflow: hidden; }
    #footer .business ul li {
      margin: 10px 12px 10px 0; }
      #footer .business ul li a {
        display: block;
        width: 40px;
        height: 40px; }
    #footer .business ul .wx {
      background: url("../images/icons.gif") no-repeat; }
      #footer .business ul .wx:hover {
        background: url("../images/icons.gif") no-repeat left 0 top -200px; }
    #footer .business ul .f {
      background: url("../images/icons.gif") no-repeat left 0 top -40px; }
      #footer .business ul .f:hover {
        background: url("../images/icons.gif") no-repeat left 0 top -240px; }
    #footer .business ul .in {
      background: url("../images/icons.gif") no-repeat left 0 top -80px; }
      #footer .business ul .in:hover {
        background: url("../images/icons.gif") no-repeat left 0 top -280px; }
    #footer .business ul .tw {
      background: url("../images/icons.gif") no-repeat left 0 top -120px; }
      #footer .business ul .tw:hover {
        background: url("../images/icons.gif") no-repeat left 0 top -320px; }
    #footer .business ul .sina {
      background: url("../images/icons.gif") no-repeat left 0 top -160px; }
      #footer .business ul .sina:hover {
        background: url("../images/icons.gif") no-repeat left 0 top -360px; }
  #footer .business div {
    width: 200px;
    height: 200px;
    background: url("../images/QR.jpg") no-repeat red;
    position: absolute;
    left: 80px;
    top: 40px;
    display: none; }
#footer dt a {
  font-size: 15px;
  color: #333; }
  #footer dt a:hover {
    text-decoration: none;
    color: #39aeff; }
#footer dd a {
  font-size: 11px;
  line-height: 30px;
  color: #777; }
  #footer dd a:hover {
    text-decoration: none;
    color: #39aeff; }
#footer .link1 {
  margin-top: 30px; }
  #footer .link1 dl {
    padding-left: 20px; }
#footer .link2 {
  margin-top: 30px; }
  #footer .link2 dl {
    padding-left: 80px; }
#footer .link3 {
  margin-top: 30px; }
  #footer .link3 dl {
    padding-left: 30px; }
#footer .copyright {
  background: #39aeff;
  text-align: center; }
  #footer .copyright p {
    height: 54px;
    font-size: 11px;
    color: #fff;
    line-height: 54px; }

@media (max-width: 768px) {
  #cont {
    text-align: center; }

  #cont .txt {
    padding: 30px 80px; }

  #cont a {
    margin: 0 auto;
    margin-bottom: 50px; }

  #cont .tab2 .row .txt {
    float: left; }

  #footer .link1 {
    text-align: center; }

  #footer .link2 {
    text-align: center; }

  #footer .link3 {
    text-align: center; } }
@media (max-width: 992px) {
  #navbar-collapse {
    padding: 0; }

  #navbar-collapse ul a {
    margin: 0; } }

/*# sourceMappingURL=aaa.css.map */
